#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 200px;
}
#textbox
{
    width: 300px;
}

body
{
    font-family: cursive;
    background-image: linear-gradient(to right top, white, white, rgb(176, 202, 215), rgb(169, 204, 221), rgb(153, 195, 226));
}

.column
{
    display: inline;
    padding: 10px;
}


img{
    border-radius: 4px;
    padding: 10px;
    width: 35%;
    box-shadow: 0 6px 8px rgba(2, 2, 2, 0.2);
}

img:hover{
    border-radius: 100px;

}